/* Fonts */
@import url(
  'https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400;700'
);

@import url(
  'https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap'
);

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes up the full height */
}

.container {
    height: 100%;  /* Full height of viewport */
    width: 100%;
    background: linear-gradient(45deg, #0A1536, #0D1A4C, #2E0062, #250052);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.loading li {
    list-style: none;
    color: #484848;
    font-family: 'Fredoka';
    font-size: 5rem;
    letter-spacing: 15px;
    animation: loading-animate 4.0s linear infinite;
}

@keyframes loading-animate {
    0% {
        color: #484848;
        text-shadow: none;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}

.loading li:nth-child(1) {
    animation-delay: .4s;
}

.loading li:nth-child(2) {
    animation-delay: .8s;
}

.loading li:nth-child(3) {
    animation-delay: 1.2s;
}

.loading li:nth-child(4) {
    animation-delay: 1.6s;
}

.loading li:nth-child(5) {
    animation-delay: 2s;
}

.loading li:nth-child(6) {
    animation-delay: 2.4s;
}

.loading li:nth-child(7) {
    animation-delay: 2.8s;
}

/* Particles.js */
#particles-js {
    height: 100%;
}