#top-nav-bar {
    display: none;
}

#pseudo-top-nav {
    display: none;
}

#left-nav-label {
    display: none;
}

.commodity-chart {
    width: 750px;
    height: 400px;
}

.specific-commodity-logo-side {
    display: none;
}

/* Mobile view: Adjust layout for smaller screens */
@media only screen and (max-width: 768px) {

    body {
        overflow: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #pseudo-nav {
        display: none;
    }

    /* Hide left navigation pane */
    #left-nav-pane {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        top: 0;
        left: 0;
        height: 95vh;
        width: 50vw;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 10;

        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        pointer-events: auto;
    }
    
    /* When the pane is shown */
    #left-nav-pane.active {
        transform: translateX(0);
        opacity: 1;
    }    

    #left-nav-pane #logo {
        display: None;
    }

    /* Menu: Logo */
    #logo_open_nav {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: 'LemonMilk', sans-serif;
        font-size: 32px;
        color: #203555; 
        font-weight: bold;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Menu: Logo */
    #left-nav-label {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0;
        padding: 0;
        font-family: 'LemonMilk', sans-serif;
        font-size: 32px;
        color: #203555; 
        font-weight: bold;
        align-items: center;
    }

    #top-nav-bar {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 5vh;
        width: 100vw;
        margin: 0px;
        padding: 20px;
        border-radius: 16px;

        color: #333333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background: linear-gradient(45deg, #a9bdfb, #d9dffe, #dae7ed);
        z-index: 4;
    }

    #nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
        display: none;
        z-index: 5;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    #nav-overlay.active {
        display: block; /* Show overlay when nav pane is active */
        opacity: 1;
    }

    #pseudo-top-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 5vh;
        width: 100vw;
        margin: 0px;
        padding: 20px;
        border-radius: 16px;
    }

    #specific-commodities-wide {
        display: none;
    }

    /* CONTAINERS */
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Flex alignment for easier column layout */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        box-sizing: border-box;
    }
    
    #content-center-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 2px;
        height: 95vh;   
        width: 95vw;
                
        margin-top: 60lvh;
        /* background: red; */
        /* height: 150lvh; */
    }

    #widget-commodity-header, #widget-commodity-graph-types,
    #widget-commodity-graph, #widget-commodity-types {
        display: flex;

        margin: 0px 2px 0px 2px;
        padding: 20px;
        border-radius: 16px;

        font-size: 16px;
        color: #28292b;
    }

    #widget-commodity-graph, #widget-commodity-types {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    #widget-commodity-graph-types, #widget-commodity-scatter-pie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #widget-commodity-header {
        display: flex;

        margin-top: 20px;
        padding: 20px;

        width: 80vw;
        height: 45vh;
        border: 3px dotted #e7ce8f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: #c9cce0;

        align-items: center;
        justify-content: space-evenly;
    }

    #widget-commodity-graph,
    #widget-commodity-left, #widget-commodity-right,
    #widget-commodity-full {
        margin: 0px 8px;
        margin-bottom: 24px;

        flex-direction: column;
        width: 80vw;
        height: 450px;
        border: 2px dotted #e7ce8f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: #c9cce0;

        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }

    #widget-commodity-types {
        margin: 0px 8px;
        width: 80vw;
        height: 450px;
        border: 2px dotted #e7ce8f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: #c9cce0;
        flex-direction: column;

        align-items: center;
        justify-content: space-between;
    }

    #specific-commodity-logo {
        display: flex;
        width: 30%;
    }

    .specific-commodity-logo-side {
        display: flex;
        justify-content: center;
    }

    .specific-commodity-logo-img {
        max-width: 25vw;
        height: auto;
    }

    #specific-commodity-content {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    #specific-commodity-label-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 8px;
        margin-bottom: 8px;
    }

    #specific-commodity-label {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        width: 100%;

        font-size: 4vw;
    }

    #specific-commodity-date {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }

    #specific-commodity-prices {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        margin-top: 8px;
        margin-bottom: 8px;
    }

    #specific-commodity-average-price {
        display: flex;
    }

    #specific-commodity-high-price {
        display: flex;
    }

    #specific-commodity-low-price {
        display: flex;
    }

    #specific-commodity-legend {
        display: flex;
    }

    /* Rectangles */
    #specific-commodity-date-rectangle {    
        width: 100%;
        padding: 8px 10px;
        background: #dadced;
        margin-top: 10px;
        font-size: 2.5vw;
        
        border: 3px solid #18072c;
        border-radius: 10px;
        text-align: center;
    }

    #specific-commodity-prices-rectangle {    
        width: 38vw;
        padding: 8px 30px;
        background: #dadced;
        
        display: flex;
        margin-top: 12px;
        
        border: 3px solid #18072c;
        border-radius: 32px;
    }

    #specific-commodity-types-rectangle {    
        display: flex;
        width: 60vw;
        height: 30px;
        padding: 6px 24px;
        background: #dae7ed;
        
        align-items: center;
        justify-content: center;

        color: #203555;
        border: 3px solid #18072c;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s ease;
    }

    #specific-commodity-types-rectangle:hover {
        background: #282c55;
        color: #e7ce8f;
        border: 3px solid #18072c;
    }

    #specific-commodity-types-rectangle.active {  
        background: #282c55;
        color: #e7ce8f;
        border: 3px solid #18072c;
    }

    #specific-commodity-prices-icon {    
        width: 20%;
    }

    #specific-commodity-prices-label {    
        width: 80%;
        text-align: center;
    }

    /* Icons: Prices */
    .fa-star {
        color: #fac053;
        text-align: left;
    }

    .fa-arrow-up {
        color: rgba(220, 20, 60, 1);
        text-align: left;
    }


    .fa-arrow-down {
        color: rgba(34, 139, 34, 1);
        text-align: left;
    }

    /* Back Button */
    .back-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #282c55;
        color: #e7ce8f;
        border: 2px solid #18072c;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'LTInstitute';
        transition: background-color 0.3s ease
    }

    .back-btn:hover {
        background-color: #e7ce8f;
        color: #282c55;
        border: 2px solid #282c55;
    }

    /* Tooltip Text: Price Type */
    /* Tooltip Container */
    .priceTypeTooltip {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    /* Tooltip Text */
    .priceTypeTooltip .priceTypeTooltipText {
        visibility: hidden;
        width: 110px;
        background-color: #282c55;
        color: #e7ce8f;
        text-align: center;
        /* border: 2px solid #e7ce8f; */
        border-radius: 5px;
        padding: 5px 0px;
        font-size: 14px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 110%; /* Place above the element */
        left: 50%;
        margin-left: -20%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Show the tooltip when hovering */
    .priceTypeTooltip:hover .priceTypeTooltipText {
        visibility: visible;
        opacity: 1;
    }

    /* Chart */
    .chart {
        width: 80vw;
        height: 50vh;
    }

    .commodity-chart {
        width: auto;
        height: 50vh;
        /* overflow-x: clip; */
    }

    /* Dark Mode */
    body.dark-mode #widget-commodity-header, body.dark-mode #widget-commodity-graph, body.dark-mode #widget-commodity-types {
        color: #dae7ed;
        background-color: #203555;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    body.dark-mode #specific-commodity-date-rectangle {     
        color: #203555;
    }

    body.dark-mode #specific-commodity-prices-rectangle {    
        color: #203555;
    }

    body.dark-mode .priceTypeTooltip .priceTypeTooltipText {
        background-color: #dae7ed;
        color: #282c55;
        /* border: 2px solid #282c55; */
    }    

    body.dark-mode #top-nav-bar {
        background: linear-gradient(-45deg, #0a1432, #252d56, #324565);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
    }

    body.dark-mode #logo_open_nav {        
        color: #DAE7ED;
    }
}