/* CONTAINERS */
#content-center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2px;
    align-items: center;
    height: 100svh;   
    width: 79vw;
}

#widget-commodity-header, #widget-commodity-graph-types,
#widget-commodity-graph, #widget-commodity-types,
#widget-commodity-scatter-pie,
#widget-commodity-left, #widget-commodity-right,
#widget-commodity-full {
    display: flex;

    margin: 0px 2px 0px 2px;
    padding: 20px;
    border-radius: 16px;

    font-size: 16px;
    color: #28292b;
}

#widget-commodity-header,
#widget-commodity-graph, #widget-commodity-types,
#widget-commodity-left, #widget-commodity-right,
#widget-commodity-full {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#widget-commodity-graph-types, #widget-commodity-scatter-pie {
    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-header {
    margin-top: 20px;
    width: 1140px;
    height: 125px;
    /* border: 3px dotted #e7ce8f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;

    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-graph {
    margin: 0px 8px;
    flex-direction: column;
    width: 775px;
    height: 450px;
    /* border: 2px dotted #e7ce8f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;

    /* align-items: center; */
    justify-content: space-evenly;
}

#widget-commodity-left, #widget-commodity-right {
    margin: 0px 8px;
    flex-direction: column;
    width: 535px;
    height: 450px;
    /* border: 2px dotted #e7ce8f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;

    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-full {
    margin: 0px 8px;
    flex-direction: column;
    width: 1125px;
    height: 450px;
    /* border: 2px dotted #e7ce8f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;

    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-types {
    margin: 0px 8px;
    width: 300px;
    height: 450px;
    /* border: 2px dotted #e7ce8f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

/* COMMODITY HEADER */
#specific-commodity-logo {
    display: flex;
    width: 15%;
    margin-right: 20px;

    align-items: center;
    justify-content: center;
}

.specific-commodity-logo-img {
    max-width: 133px;
    height: auto;
}

#specific-commodity-content {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#specific-commodity-label-date {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

#specific-commodity-label {
    display: flex;
    width: 60%;
    font-size: 24px;
}

#specific-commodity-date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

#specific-commodity-prices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;
}

#specific-commodity-average-price {
    display: flex;
}

#specific-commodity-high-price {
    display: flex;
}

#specific-commodity-low-price {
    display: flex;
}

#specific-commodity-legend {
    display: flex;
}

/* Rectangles */
#specific-commodity-date-rectangle {    
    width: 100%;
    padding: 8px 10px;
    background: #dadced;
    
    border: 3px solid #18072c;
    border-radius: 10px;
    text-align: center;
}

#specific-commodity-prices-rectangle {    
    width: 200px;
    padding: 8px 30px;
    background: #dadced;
    
    display: flex;
    
    border: 3px solid #18072c;
    border-radius: 32px;
}

#specific-commodity-types-rectangle {    
    display: flex;
    width: 200px;
    height: 30px;
    padding: 6px 24px;
    background: #dae7ed;
    
    align-items: center;
    justify-content: center;

    color: #203555;
    border: 3px solid #18072c;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

#specific-commodity-types-rectangle:hover {
    background: #282c55;
    color: #e7ce8f;
    border: 3px solid #18072c;
}

#specific-commodity-types-rectangle.active {  
    background: #282c55;
    color: #e7ce8f;
    border: 3px solid #18072c;
}

#specific-commodity-prices-icon {    
    width: 20%;
}

#specific-commodity-prices-label {    
    width: 80%;
    text-align: center;
}

/* Icons: Prices */
.fa-star {
    color: #fac053;
    text-align: left;
}

.fa-arrow-up {
    color: rgba(220, 20, 60, 1);
    text-align: left;
}


.fa-arrow-down {
    color: rgba(34, 139, 34, 1);
    text-align: left;
}

/* Back Button */
.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #282c55;
    color: #e7ce8f;
    border: 2px solid #18072c;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'LTInstitute';
    transition: background-color 0.3s ease
}

.back-btn:hover {
    background-color: #e7ce8f;
    color: #282c55;
    border: 2px solid #282c55;
}

/* Tooltip Text: Price Type */
/* Tooltip Container */
.priceTypeTooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Tooltip Text */
.priceTypeTooltip .priceTypeTooltipText {
    visibility: hidden;
    width: 110px;
    background-color: #282c55;
    color: #e7ce8f;
    text-align: center;
    /* border: 2px solid #e7ce8f; */
    border-radius: 5px;
    padding: 5px 0px;
    font-size: 14px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 110%; /* Place above the element */
    left: 50%;
    margin-left: -20%;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip when hovering */
.priceTypeTooltip:hover .priceTypeTooltipText {
    visibility: visible;
    opacity: 1;
}

/* Chart */
/* Chart container */
.chart {
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
}

.chart-half {
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
}

.chart-full {
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Commodity chart canvas */
.commodity-chart {
    position: relative;
    width: 2000px; /* Set a larger width than the parent container */
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: #95afdd rgba(224, 224, 224, 0.6);
}

/* Gen-Price-List: ScrollBar */
.chart::-webkit-scrollbar, .chart-half::-webkit-scrollbar,
.chart-full::-webkit-scrollbar {
    width: 8px;
}

.chart:hover, .chart-half:hover,
.chart-full:hover {
    overflow-x: auto;
}

.chart::-webkit-scrollbar-thumb, .chart-half::-webkit-scrollbar-thumb,
.chart-full::-webkit-scrollbar-thumb {
    background-color: #95afdd;
    border-radius: 5px;
}

.chart::-webkit-scrollbar-track, .chart-half::-webkit-scrollbar-track,
.chart-full::-webkit-scrollbar-track {
    display: none;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.chart::-webkit-scrollbar-button, .chart-half::-webkit-scrollbar-button,
.chart-full::-webkit-scrollbar-button {
    display: none;
}

/* Filter and Chart Type */
/* General style for the chart options section */
.chart-options {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* background-color: #f8f8f8; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

/* Section for filter and chart type selectors */
.chart-options div {
    display: flex;
    align-items: center;
}

/* Label styling */
.chart-options label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

/* Specific styling for the select elements */
.chart-select {
    width: 150px;
    padding: 10px 5px;
    background: #dadced;
    display: flex;
    border: 3px solid #18072c;
    border-radius: 32px;
    font-size: 12px;
    color: #333;
    appearance: none; /* Remove default styling in some browsers */
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease, background 0.3s ease;
}

.chart-select {
    font-family: 'LTInstitute';
    text-align: center;
}

/* Focused and hover states for the select box */
.chart-select:hover {
    border-color: #5c6bc0;
    background: #e3e8f1;
}

.chart-select:focus {
    border-color: #3f51b5;
    background: #f4f7fb;
}

/* Styling for the filter and chart type sections for spacing */
.filter-section {
    margin-right: 20px;
}

.chart-type-section {
    margin-left: 20px;
}

/* Dark Mode */
body.dark-mode #widget-commodity-header,
body.dark-mode #widget-commodity-graph,
body.dark-mode #widget-commodity-types,
body.dark-mode #widget-commodity-left,
body.dark-mode #widget-commodity-right,
body.dark-mode #widget-commodity-full {
    color: #dae7ed;
    background-color: #203555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

body.dark-mode #specific-commodity-date-rectangle {     
    color: #203555;
}

body.dark-mode #specific-commodity-prices-rectangle {    
    color: #203555;
}

body.dark-mode .priceTypeTooltip .priceTypeTooltipText {
    background-color: #dae7ed;
    color: #282c55;
    /* border: 2px solid #282c55; */
}