/* Fonts */
@import url(
  'https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400;700'
);

@import url(
  'https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap'
);

@font-face {
  font-family: 'LemonMilk';
  src: url('fonts/LemonMilk.otf') format('opentype');
  font-weight: bold; /* Change to 'bold' since it's a bold font */
  font-style: normal; 
}

/* Body */
body {
    font-family: 'Fredoka';
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Headings */
.logo { 
  margin: 0;
  padding: 0;
  font-family: 'LemonMilk', sans-serif; 
  font-size: 2.5vw;
}

h2 {
    margin: 0;
    padding: 0;
    color:white;
    font-family: Garamond, sans-serif;
    
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    z-index: 50;

    background-color: #0d1118;
    color: #e7ce8f;
    padding: 1.25vw;
    text-align: left;
}

/* Navigation Bar */
nav {
    position: fixed;
    margin-top: 10vh;
    background-color: gray;
    padding: 0.5%;
    width: 100%;
}

  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  nav ul li {
      display: inline-block;
      margin-right: 2%;
  }

  nav ul li a {
      text-decoration: none;
      color: black;
  }

  nav ul li a:hover {
    background-color: #191970;
    color: #f0f0f0;
  }

/* Main */
main {
    padding: 2%;
}

  .left_greeting {
    text-align: left;
    width: 50%;
    float: left;
  }

  .greeting {
    font-family: 'Abril Fatface';
    font-size: 2.5vw;
    color: white;
  }

  /* Displaying current date and time */
  .date-time {
    margin: 0px 0px;
    text-align: right;
    float: right;
    width: 50%;

    margin-top: 0.75%;
    font-size: 1.75vw;
    color: white;
    font-family: 'Abril Fatface';
  }

  /* For background animation */
  .container{
      padding-top: 6vw;
      height: 100vh;
      width: 100%;
      background: linear-gradient(45deg, #0A1536, #0D1A4C, #2E0062, #250052);
      background-size: 300% 300%;
      animation: color 12s ease-in-out infinite;
  }

  @keyframes color{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

/* Price List */
.price-list {
  margin-top: 5%;
  background-color: #516689;
  padding: 2%;
  width: 100%;
  font-size: 1.5vw;
  color: #dae7ed;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

  .price-list li {
    display: flex;
    align-items: center;
    padding: 5%;
    background: #516689;
    margin: 1% 0;
  }

  .price-list ul {
    list-style: none;
    margin: 0;
    padding: 5px;
  }

  .price-list ul li {
    margin-right: 2%;
  }

  .price-list ul li a {
    text-decoration: none;
    color: #dae7ed;
  }

  .price-list ul li a:hover {
    background-color: #86a8ff;
    color: #f0f0f02e;
  }

  /* Price List: Item List */
  .list-logo {
    flex: 0 0 auto;
    margin-left: 1%;
    margin-right: 2%;
  }

  .commodity-logo {    
    max-width: 4vw;
    height: auto;
  }

  .commodity-name {
    flex: 0;
  }

  .dot-leaders {
    flex: 1;
    border-bottom: 0.33vw dotted #dae7ed;
    margin: 0 2.5vw;
  }

  .commodity-price {
    flex: 0 0 auto;
    margin-left: 10px;
    margin-left: 5px;
  }

  /* Price List: Under the commodity groups */
  .price-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  
  .price-list li.active {
    background-color: #516689;
    font-weight: bold;
  }
  
  .price-list li.active .details {
    display: block;
  }
  
  .details {
    display: none; /* Hide details initially */
    padding: 10px;
    margin-left: 20px;
  }
  
  .details li {
    padding-left: 10px;
  }

  /* Price List: Animation */
  .price-list li {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Shadow changes when hovering over the list items */
  .price-list li:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #0d1118;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Search Bar */
.search-bar {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
  z-index: 60;
}

  #search-input {
    color: white;
    background-color: #516689;
    padding: 10px;
    border: 1px solid #516689;
    border-radius: 15px;
    width: 200px;
  }

  #search-input::placeholder {
    color: white;
  }

 
  .price-list {
    color:white;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .price-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .price-list li.active {
    background-color: #516689;
    font-weight: bold;
    
  }

  .price-list li.active .details {
    display: block;
  }

  .details {
    display: none;
    padding: 10px;
    margin-left: 20px;
  }

  .details li {
    padding-left: 10px;
  }