/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LemonMilk.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/Digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTInstitute';
    src: url('../fonts/LTInstitute.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Body */
body {
    display: flex;
    justify-content: center;
    font-family: 'LTInstitute', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 6px;
    /* background: #EDEDEE; */
    background-image: url('../images/gradient_background.png');    
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #203555; 
    overflow-x: hidden;
}

/* Logo */
.logo {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'LemonMilk', sans-serif;
    font-size: 32px;
    color: #203555; 
    font-weight: bold;
    align-items: center;
}

/* Headings */
h1, h2, h3 {    
    margin: 0;
    padding: 0;
}

/* Paragraph */
p {    
    font-family: 'Nunito', sans-serif;
}

/* DIV */
#container {
    display: flex;
    justify-content: space-between;
}

/* Links */
a {
    text-decoration: None;
    color: #203555; 
}

#left-nav-pane {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 250px;
    margin: 0px;
    padding: 20px;
    color: #333333;
    /* background-color: #77a4f2;  */
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    /* For Linear Gradient Animation Background */
    background: linear-gradient(45deg, #a9bdfb, #d9dffe, #dae7ed);
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

main {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: 0px 8px 8px 8px;
    color: #333333; 
}

#pseudo-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 20px;
    border-radius: 16px;
}

#content-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
}

#content-left, #content-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 580px;
    margin: 0px 6px 6px 6px;
    padding: 4px;
    color: #203555;
}

/* Navigation Pane */
nav {
    margin: 32px 8px 8px 8px;
    flex-grow: 1;
}

#nav-icon {
    padding: 0 0 0 20px;
    color: #333333; 
}

#nav-link {
    padding: 0 0 0 20px;
}

nav a {
    margin: 7px 0px;
    text-align: justify;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: #203555; 
    display: block;
    transition: 0.4s;
}

nav a:hover, nav a #nav-icon:hover {
    background-color: #5d5d9ebe;
    border-radius: 32px;
    color: #dae7ed;
}

nav a.active {
    background-color: #1C1C27;
    border-radius: 32px;
    color: #e7ce8f;
    
}

nav a.active #nav-icon {
    color: #e7ce8f; 
}

#widget-nav, #widget-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0px;
    width: 216px;
    padding: 16px;
    border-radius: 16px;

    font-size: 12px;
    color: #333333;
    background-color: rgb(200, 209, 254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#widget-nav {
    flex-direction: column;
}

/* Search Bar */
.search-bar {
    align-items: center;
    z-index: 50;
    width: 100%;
}

#search-input {
    margin: 4px;
    color: #333333; 
    background-color: #ddd; 
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    width: 450px;
    font-family: 'Fredoka';
    padding-left: 40px;
}

/* Dark Mode: Styles */
body.dark-mode {
    background: #10101a;
    color: #EDEDED; 
}

body.dark-mode a {
    color: #e7ce8f;
}

body.dark-mode .logo {
    color: #DAE7ED; 
}

body.dark-mode #left-nav-pane {
    background: linear-gradient(-45deg, #0a1432, #252d56, #324565);
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #widget-nav {
    color: #252d56;
}

body.dark-mode main {
    color: #EDEDED; 
}

body.dark-mode #content-left,
body.dark-mode #content-right {
    color: #EDEDED; 
}

body.dark-mode .slider {
    background-color: #333333;
}

body.dark-mode #widget-row {
    background-color: #252d56; 
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #widget-column {
    background-color: #252d56; 
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #widget-single-column {
    background-color: #252d56; 
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #dashboard-left, #dashboard-right {   
    color: #DAE7ED;
}

body.dark-mode #nav-icon {
    color: #e7ce8f; 
}

body.dark-mode nav a {
    color: #e7ce8f; 
}

body.dark-mode nav a.active {
    background-color: #F1F1F1;
    color: #1C1C27;
}

body.dark-mode nav a.active #nav-icon {
    color: #1C1C27; 
}

body.dark-mode #search-input {
    color: white; 
    background-color: #516689; 
    border: 1px solid #516689;
}

body.dark-mode #search-input::placeholder {
    color: white; 
}

body.dark-mode #time-container, body.dark-mode #time-display {
    color: #dae7ed;
}

body.dark-mode nav a:hover {
    background-color: #dcd3ffb5;
    border-radius: 32px;
    color: #252d56;
}

/* body.dark-mode ul li {
    background-color: rgba(75, 192, 192, 0.6);
} */

/* Toggle Switch */
.switch {
    position: relative;
    /* display: inline-block; */
    width: 60px;
    height: 34px;
    align-self: flex-end;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DAA520;
    transition: .4s;
    border-radius: 34px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: '\f185'; 
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    color: #DAA520;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #333ba0;
}

input:checked + .slider:before {
    transform: translateX(26px);
    content: '\f186';
    font-size: 16px;
    color: #333ba0;
}

/* Widgets */
#widget-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 8px 0px;
    width: 525px;
    padding: 24px;
    border-radius: 16px;

    font-size: 16px;
    color: #333333;
    background-color: #dae7ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#widget-row {
    display: flex;
    justify-content: space-between;

    margin: 4px 0px;
    width: 525px;
    padding: 24px;
    border-radius: 16px;

    font-size: 16px;
    color: #333333;
    background-color: #dae7ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#dashboard-left, #dashboard-right {   
    font-family: 'LTInstitute', sans-serif;
    color: #203555;
    flex: 1;
    width: 150px;
}

/* Date & Time: Display */
.date-time {
    text-align: left;
    font-size: 18px;
    /* color: #F1F1F1; */
}

#time-container {
    /* background-color: #5F799F; */
    padding: 1px;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
    display: flex; /* Use flexbox for centering */
    justify-content: right;
}

#time-display {
    /* display: flex; */
    align-items: right;
    justify-content: right;
    text-align: right;
    margin-top: -5px;

    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color: #203555;
}

.chart {
    margin-top: 24px;
}

/* Particles.js */
#particles-js {
    height: 100%;
    width: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Home: General Price List, Commodities: Main Price List */
#gen-price-list {
    width: 500px;
    height: 61.5vh;
}

#main-price-list {
    width: 1100px;
    height: 82vh;
}

#gen-price-list, #main-price-list {
    padding: 10px;
    margin: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #95afdd rgba(224, 224, 224, 0.6);
}

/* Gen-Price-List: ScrollBar */
#gen-price-list::-webkit-scrollbar, #main-price-list::-webkit-scrollbar {
    width: 8px;
}

#gen-price-list:hover, #main-price-list:hover {
    overflow-y: auto;
    overflow-x: auto;
}

#gen-price-list::-webkit-scrollbar-thumb, #main-price-list::-webkit-scrollbar-thumb {
    background-color: #95afdd;
    border-radius: 5px;
}

#gen-price-list::-webkit-scrollbar-track, #main-price-list::-webkit-scrollbar-track {
    display: none;
    background-color: #e0e0e0;
    border-radius: 5px;
}

#gen-price-list::-webkit-scrollbar-button, #main-price-list::-webkit-scrollbar-button {
    display: none;
}

.price-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.price-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 20px;
    overflow: hidden;
}

.price-list li a {
    text-decoration: none;
    color: black;
}

/* Price List: Item List */
.list-logo {
    flex: 0 0 auto;
    margin-left: 1px;
    margin-right: 1px;
}

.commodity-logo {
    max-width: 60px;
    height: auto;
}

.commodity-price {
    color: #1e114b;
}

.commodity-name {
    color: #203555;
}

/* Container: Progress Bar */
#commodity-row {
    position: relative;
    width: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0; /* Grey background for empty part */
    border-radius: 16px;
    padding: 20px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #333ba0;
    overflow: hidden;
    z-index: 0;
    
    /* background-color: #00afb9; */
    /* background-color: #ffffff; */
    /* border-radius: 5px; */
    /* z-index: -5; */
}

/* Colored: Progress Bar */
#commodity-percentage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #95afdd; /* Teal color for filled part */
    border-radius: 10px 0 0 10px; /* Rounded only on left */
    z-index: 0;
}

#commodity-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#commodity-button {
    height: 100px;
    width: 125px;
    margin: 4px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    border-radius: 16px;
    background-color: #95afdd; 
    border: 2px solid #333ba0;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

#commodity-button:hover {
    background-color: #dcdcdc;
    color: #333ba0;
}

.commodity-button-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
}

.commodity-button-icon-img {
    width: 50px;
    height: 50px;
}

.commodity-button-label {
    margin: 16px;
    font-size: 16px;
    text-align: center;
    color: #203555;
}

/* COMMODITIES.HTML */
#content-single-container {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    align-items: center;
}

#widget-single-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 8px 6px;
    width: 1125px;
    padding: 24px;
    border-radius: 16px;

    font-size: 16px;
    color: #333333;
    background-color: #dae7ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Container: Progress Bar */
#main-commodity-row, #main-commodity-row-specific {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95afdd;
    border-radius: 16px;
    padding: 20px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #333ba0;
    overflow: hidden;
    z-index: 0;
}

#main-commodity-row {
    width: 1025px;
}

#main-commodity-row-specific {
    width: 1000px;
}

#main-commodity-row:hover {
    width: 1025px;
    background-color: #dae7ed;
}

#main-commodity-row-specific:hover {
    width: 1000px;
    background-color: #dae7ed;
}

.dot-leaders {
    flex: 1;
    border-bottom: 0.33rem dotted #203555;
    margin: 0 2rem;
}

/* == COLLAPSIBLE LIST == */
.collapsible-list {
    list-style: none;
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.collapsible-list li {
    justify-content: space-between;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 20px;
    color: #333ba0;
    overflow: hidden;
}

/* Collapsible Header */
.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.collapsible-header:hover {
    background-color: #ddd;
}

/* Collapsible Content (initially hidden) */
.collapsible-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 20px;
    border-left: 3px dotted #333ba0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

/* Expanded class to animate the content */
.collapsible.expanded .collapsible-content {
    max-height: 500px; /* Large enough to fit the content */
    opacity: 1;
}

/* Individual list items with rectangle style */
.collapsible-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animate sublist items when expanded */
.collapsible.expanded .collapsible-item {
    opacity: 1;
    transform: translateY(0);
}

.cm-price-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cm-price-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 20px;
    overflow: hidden;
}

.cm-price-list li a {
    text-decoration: none;
    color: black;
}

/*  DARK MODE TIMEEEE <3    */

/* Container: Progress Bar */
body.dark-mode #main-commodity-row, body.dark-mode #main-commodity-row-specific {
    background-color: #95afdd; /* Grey background for empty part */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #333ba0;
}

body.dark-mode .dot-leaders {
    flex: 1;
    border-bottom: 0.33rem dotted #203555;
    margin: 0 2rem;
}

/* CONTACT.HTML */
#content-center-container {
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
    height: 98vh;   
    width: 79vw;
}