/* CONTAINERS */
#content-center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2px;
    align-items: center;
    height: 98vh;   
    width: 79vw;
}

#widget-commodity-header, #widget-commodity-graph-types, #widget-commodity-graph, #widget-commodity-types {
    display: flex;

    margin: 0px 2px 0px 2px;
    padding: 20px;
    border-radius: 16px;

    font-size: 16px;
    color: #28292b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#widget-commodity-graph-types {
    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-header {
    margin-top: 20px;
    width: 1140px;
    height: 125px;
    border: 3px dotted #e7ce8f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;

    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-graph {
    margin: 0px 8px;
    flex-direction: column;
    width: 775px;
    height: 450px;
    border: 2px dotted #e7ce8f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;

    align-items: center;
    justify-content: space-evenly;
}

#widget-commodity-types {
    margin: 0px 8px;
    width: 300px;
    height: 450px;
    border: 2px dotted #e7ce8f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #c9cce0;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

/* COMMODITY HEADER */
#specific-commodity-logo {
    display: flex;
    width: 15%;
    margin-right: 20px;

    align-items: center;
    justify-content: center;
}

.specific-commodity-logo-img {
    max-width: 133px;
    height: auto;
}

#specific-commodity-content {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#specific-commodity-label-date {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

#specific-commodity-label {
    display: flex;
    width: 60%;
    font-size: 24px;
}

#specific-commodity-date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

#specific-commodity-prices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;
}

#specific-commodity-average-price {
    display: flex;
}

#specific-commodity-high-price {
    display: flex;
}

#specific-commodity-low-price {
    display: flex;
}

#specific-commodity-legend {
    display: flex;
}

/* Rectangles */
#specific-commodity-date-rectangle {    
    width: 100%;
    padding: 8px 10px;
    background: #dadced;
    
    border: 3px solid #18072c;
    border-radius: 10px;
    text-align: center;
}

#specific-commodity-prices-rectangle {    
    width: 200px;
    padding: 8px 30px;
    background: #dadced;
    
    display: flex;
    
    border: 3px solid #18072c;
    border-radius: 32px;
}

#specific-commodity-types-rectangle {    
    display: flex;
    width: 200px;
    height: 30px;
    padding: 6px 24px;
    background: #dae7ed;
    
    align-items: center;
    justify-content: center;

    color: #203555;
    border: 3px solid #18072c;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#specific-commodity-types-rectangle.active {  
    background: #282c55;
    color: #e7ce8f;
    border: 3px solid #18072c;
}

#specific-commodity-prices-icon {    
    width: 20%;
}

#specific-commodity-prices-label {    
    width: 80%;
    text-align: center;
}

/* Icons: Prices */
.fa-star {
    color: #fac053;
    text-align: left;
}

.fa-arrow-up {
    color: #1db78d;
    text-align: left;
}


.fa-arrow-down {
    color: #b71d22;
    text-align: left;
}

/* Back Button */
.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #607DC1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Dark Mode */
body.dark-mode #widget-commodity-header, body.dark-mode #widget-commodity-graph, body.dark-mode #widget-commodity-types {
    color: #dae7ed;
    background-color: #203555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

body.dark-mode #specific-commodity-date-rectangle {     
    color: #203555;
}

body.dark-mode #specific-commodity-prices-rectangle {    
    color: #203555;
}