/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LemonMilk.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/Digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTInstitute';
    src: url('../fonts/LTInstitute.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Body */
body {
    display: flex;
    justify-content: center;
    font-family: 'LTInstitute', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 6px;
    /* background: #EDEDEE; */
    background-image: url('../images/gradient_background.png');    
    height: 100v;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #203555; 
    overflow-x: hidden;
}

/* Logo */
#logo {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'LemonMilk', sans-serif;
    font-size: 32px;
    color: #203555; 
    font-weight: bold;
    align-items: center;
}

/* Headings */
h1, h2, h3 {    
    margin: 0;
    padding: 0;
}

#dark-mode-label {
    margin: 0;
}

/* Paragraph */
p {    
    font-family: 'Nunito', sans-serif;
}

/* DIV */
#container {
    display: flex;
    justify-content: space-between;
}

/* Links */
a {
    text-decoration: None;
    color: #203555; 
}

#left-nav-pane {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 250px;
    margin: 0px;
    padding: 20px;
    color: #333333;
    /* background-color: #77a4f2;  */
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    /* For Linear Gradient Animation Background */
    background: linear-gradient(45deg, #a9bdfb, #d9dffe, #dae7ed);
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 8px 8px 8px;
    color: #333333; 
}

#pseudo-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 20px;
    border-radius: 16px;
}

#content-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
}

#content-left, #content-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 580px;
    margin: 0px 6px 6px 6px;
    padding: 4px;
    color: #203555;
}

/* Navigation Pane */
nav {
    margin: 32px 8px 8px 8px;
    flex-grow: 1;
}

#nav-icon {
    padding: 0 0 0 20px;
    color: #333333; 
}

#nav-link {
    padding: 0 0 0 20px;
}

nav a {
    margin: 7px 0px;
    text-align: justify;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: #203555; 
    display: block;
    transition: 0.4s;
}

nav a:hover, nav a #nav-icon:hover {
    background-color: #5d5d9ebe;
    border-radius: 32px;
    color: #dae7ed;
}

nav a.active {
    background-color: #1C1C27;
    border-radius: 32px;
    color: #e7ce8f;
    
}

nav a.active #nav-icon {
    color: #e7ce8f; 
}

#widget-nav, #widget-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0px;
    width: 85%;
    padding: 16px;
    border-radius: 16px;

    font-size: 12px;
    color: #333333;
    background-color: rgb(200, 209, 254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#widget-nav {
    flex-direction: column;
}

/* Search Bar */
.search-bar {
    align-items: center;
    z-index: 50;
    width: 100%;
}

#search-input {
    margin: 4px;
    color: #333333; 
    background-color: #ddd; 
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    width: 450px;
    font-family: 'Fredoka';
    padding-left: 40px;
}

/* Dark Mode: Styles */
body.dark-mode {
    background: #10101a;
    color: #EDEDED; 
}

body.dark-mode a {
    color: #e7ce8f;
}

body.dark-mode #logo {
    color: #DAE7ED; 
}

body.dark-mode #left-nav-pane {
    background: linear-gradient(-45deg, #0a1432, #252d56, #324565);
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #widget-nav {
    color: #252d56;
}

body.dark-mode main {
    color: #EDEDED; 
}

body.dark-mode #content-left,
body.dark-mode #content-right {
    color: #EDEDED; 
}

body.dark-mode .slider {
    background-color: #333333;
}

body.dark-mode #widget-row {
    background-color: #252d56; 
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #widget-column {
    background-color: #252d56; 
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #widget-single-column {
    background-color: #252d56; 
    color: #EDEDED; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
}

body.dark-mode #dashboard-left, #dashboard-right {   
    color: #DAE7ED;
}

body.dark-mode #nav-icon {
    color: #e7ce8f; 
}

body.dark-mode nav a {
    color: #e7ce8f; 
}

body.dark-mode nav a.active {
    background-color: #F1F1F1;
    color: #1C1C27;
}

body.dark-mode nav a.active #nav-icon {
    color: #1C1C27; 
}

body.dark-mode #search-input {
    color: white; 
    background-color: #516689; 
    border: 1px solid #516689;
}

body.dark-mode #search-input::placeholder {
    color: white; 
}

body.dark-mode #time-container, body.dark-mode #time-display {
    color: #dae7ed;
}

body.dark-mode nav a:hover {
    background-color: #dcd3ffb5;
    border-radius: 32px;
    color: #252d56;
}

/* body.dark-mode ul li {
    background-color: rgba(75, 192, 192, 0.6);
} */

/* Toggle Switch */
.switch {
    position: relative;
    /* display: inline-block; */
    width: 60px;
    height: 34px;
    align-self: flex-end;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DAA520;
    transition: .4s;
    border-radius: 34px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: '\f185'; 
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    color: #DAA520;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #333ba0;
}

input:checked + .slider:before {
    transform: translateX(26px);
    content: '\f186';
    font-size: 16px;
    color: #333ba0;
}

/* Widgets */
#widget-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 8px 0px;
    width: 525px;
    padding: 24px;
    border-radius: 16px;

    font-size: 16px;
    color: #333333;
    background-color: #dae7ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#widget-row {
    display: flex;
    justify-content: space-between;

    margin: 4px 0px;
    width: 525px;
    padding: 24px;
    border-radius: 16px;

    font-size: 16px;
    color: #333333;
    background-color: #dae7ed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#dashboard-left, #dashboard-right {   
    font-family: 'LTInstitute', sans-serif;
    color: #203555;
    flex: 1;
    width: 250px;
}

.chart {
    margin-top: 24px;
}

/* Particles.js */
#particles-js {
    height: 100%;
    width: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.price-list li a {
    text-decoration: none;
    color: black;
}

/* Price List: Item List */
.list-logo {
    flex: 0 0 auto;
    margin-left: 1px;
    margin-right: 1px;
}
.commodity-button-label {
    margin: 16px;
    font-size: 16px;
    text-align: center;
    color: #203555;
}

/* COMMODITIES.HTML */
#content-single-container {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    align-items: center;
}

/* Container: Progress Bar */
#main-commodity-row, #main-commodity-row-specific {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95afdd; /* Grey background for empty part */
    border-radius: 16px;
    padding: 20px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #333ba0;
    overflow: hidden;
    z-index: 0;
    
    /* background-color: #00afb9; */
    /* background-color: #ffffff; */
    /* border-radius: 5px; */
    /* z-index: -5; */
}

#main-commodity-row {
    width: 1000px;
}

#main-commodity-row-specific {
    width: 970px;
}

.dot-leaders {
    flex: 1;
    border-bottom: 0.33rem dotted #203555;
    margin: 0 2rem;
}

/* == COLLAPSIBLE LIST == */
.collapsible-list {
    list-style: none;
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.collapsible-list li {
    justify-content: space-between;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 20px;
    color: #333ba0;
    overflow: hidden;
}

/* Collapsible Header */
.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.collapsible-header:hover {
    background-color: #ddd;
}

/* Collapsible Content (initially hidden) */
.collapsible-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 20px;
    border-left: 3px dotted #333ba0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

/* Expanded class to animate the content */
.collapsible.expanded .collapsible-content {
    max-height: 500px; /* Large enough to fit the content */
    opacity: 1;
}

/* Individual list items with rectangle style */
.collapsible-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animate sublist items when expanded */
.collapsible.expanded .collapsible-item {
    opacity: 1;
    transform: translateY(0);
}

.cm-price-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cm-price-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 20px;
    overflow: hidden;
}

.cm-price-list li a {
    text-decoration: none;
    color: black;
}

/*  DARK MODE TIMEEEE <3    */

/* Container: Progress Bar */
body.dark-mode #main-commodity-row, body.dark-mode #main-commodity-row-specific {
    background-color: rgb(75, 93, 125); /* Grey background for empty part */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #333ba0;
}

body.dark-mode .dot-leaders {
    flex: 1;
    border-bottom: 0.33rem dotted #203555;
    margin: 0 2rem;
}

body.dark-mode #widget-single-column {
    color: #333333;
    background: linear-gradient(-45deg, #0a1432, #252d56, #324565);
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.5); 
}

body.dark-mode #send-button {
    height: 40px;
    width: 100px;
    background: linear-gradient(45deg, #203555, #3b567d, #567c9e);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #203555;    
}

body.dark-mode #send-button:hover {
    background: linear-gradient(45deg, #a9cafb, #d9effe, #daedec);
    border: 2px solid #203555;
    color: #203555;
    transition: 0.4s ease-in-out;       
}

/* CONTACT.HTML */
#about-header {
    width: 500px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-header-icon {
    width: 10%;
}

#about-header-label {
    width: 90%;
}

#content-center-container {
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
    height: 98vh;   
    width: 79vw;
}

#widget-single-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 8px 6px;
    width: 580px;
    height: 500px;
    padding: 24px;
    border-radius: 20px;

    font-size: 16px;
    color: #333333;
    background: linear-gradient(0deg, #59a8ee, rgb(82, 116, 239), #2b78ac, #daedec);
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.5); 
    transition: background-color 1s ease-in-out;
}

/* #comment-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: lightblue;
    text-align: center;
    width: 400px;
    height:600px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: top;
    align-items: top;
    max-height: 150px; 

} */

/* MAIN CONTAINER */
#comment-box {
    display: flex;
    flex-direction: column;
    background-color: #dae7ed;
    text-align: center;
    width: 550px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    overflow-y: hidden; 
}

.about_input, .about_input_large {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background: #203555;
}

.about_input {
    height: 60px;
    align-items: center;
}

.about_input_large {
    height: 200px;
}

.about_input_icon_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    width: 20%;
    height: 100%;
}

.about_input_icon {
    width: 30%;
    color: #e7ce8f;
}

.about_input_label {
    width: 70%;
    color: #e7ce8f;
}

.about_input_box, .about_input_large_box {
    border-radius: 10px;
    background: #516387;
}

.about_input_box {
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
}

.about_input_large_box {
    width: 80%;
    padding: 8px;
}

.about_input_large_icon_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
}

/* INPUT BOXES */
#name, #email, #concerns {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: none;
    box-sizing: border-box;
    border: none;
    color: #000000;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-family: "LtInstitute";
}

.custom-textarea {
    width: 95%;
    height: 83%;
    padding: 10px;
    text-align: left;
    border-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    resize: none;
    font-family: "LtInstitute";
}

#about-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

#send-button {
    height: 40px;
    width: 100px;
    background: linear-gradient(45deg, #a9cafb, #d9effe, #daedec);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #203555;    
}

#send-button:hover {
    background: linear-gradient(45deg, #203555, #3b567d, #567c9e);
    border: 2px solid #daedec;
    color: #daedec;
    transition: 0.4s ease-in-out;       
}