/* Mobile view: Adjust layout for smaller screens */
@media only screen and (max-width: 768px) {

    body {
        overflow: hidden;
    }

    #specific-commodities-mobile {
        background: red;
    }

    /* Menu: Logo */
    #logo_open_nav {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: 'LemonMilk', sans-serif;
        font-size: 32px;
        color: #203555; 
        font-weight: bold;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
    }

    #top-nav-bar {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 5vh;
        width: 100vw;
        margin: 0px;
        padding: 20px;
        border-radius: 16px;

        color: #333333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background: linear-gradient(45deg, #a9bdfb, #d9dffe, #dae7ed);
        z-index: 4;
    }

    /* CONTAINERS */
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    
    #content-center-container {
        display: flex;
        flex-direction: column;
        margin: 2px;
        height: 200vh;   
        width: 95vw;
    }

    #widget-commodity-header, #widget-commodity-graph-types, #widget-commodity-graph, #widget-commodity-types {
        display: flex;

        margin: 0px 2px 0px 2px;
        padding: 20px;
        border-radius: 16px;

        font-size: 16px;
        color: #28292b;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    #widget-commodity-header {
        display: grid;
        grid-template-columns: 30vw 80vw;
        grid-template-rows: 20vh 15vh 20vh 20vh 20vh;

        margin-top: 20px;
        width: 80vw;
        height: 45vh;
        border: 3px dotted #e7ce8f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        /* background-color: #c9cce0; */
        background: none;

        align-items: center;
        justify-content: space-evenly;
    }

    #widget-commodity-graph-types {
        align-items: center;
        justify-content: space-evenly;
    }

    #widget-commodity-graph {
        margin: 0px 8px;
        flex-direction: column;
        width: 775px;
        height: 450px;
        border: 2px dotted #e7ce8f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: #c9cce0;

        align-items: center;
        justify-content: space-evenly;
    }

    #widget-commodity-types {
        margin: 0px 8px;
        width: 300px;
        height: 450px;
        border: 2px dotted #e7ce8f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: #c9cce0;
        flex-direction: column;

        align-items: center;
        justify-content: space-between;
    }

    /* COMMODITY HEADER */
    #specific-commodity-logo {

        align-items: center;
        justify-content: center;

        background: black;
    }

    #specific-commodity-label {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        font-size: 24px;
        background: white;
    }

    .specific-commodity-logo-img {
        max-width: 133px;
        height: auto;
    }

    #specific-commodity-content {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    #specific-commodity-label-date {
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #specific-commodity-date {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
    }

    #specific-commodity-prices {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        margin-top: 8px;
        margin-bottom: 8px;
    }

    #specific-commodity-average-price {
        display: flex;
    }

    #specific-commodity-high-price {
        display: flex;
    }

    #specific-commodity-low-price {
        display: flex;
    }

    #specific-commodity-legend {
        display: flex;
    }

    /* Rectangles */
    #specific-commodity-date-rectangle {    
        width: 100%;
        padding: 8px 10px;
        background: #dadced;
        
        border: 3px solid #18072c;
        border-radius: 10px;
        text-align: center;
    }

    #specific-commodity-prices-rectangle {    
        width: 200px;
        padding: 8px 30px;
        background: #dadced;
        
        display: flex;
        
        border: 3px solid #18072c;
        border-radius: 32px;
    }

    #specific-commodity-types-rectangle {    
        display: flex;
        width: 200px;
        height: 30px;
        padding: 6px 24px;
        background: #dae7ed;
        
        align-items: center;
        justify-content: center;

        color: #203555;
        border: 3px solid #18072c;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s ease;
    }

    #specific-commodity-types-rectangle:hover {
        background: #282c55;
        color: #e7ce8f;
        border: 3px solid #18072c;
    }

    #specific-commodity-types-rectangle.active {  
        background: #282c55;
        color: #e7ce8f;
        border: 3px solid #18072c;
    }

    #specific-commodity-prices-icon {    
        width: 20%;
    }

    #specific-commodity-prices-label {    
        width: 80%;
        text-align: center;
    }

    /* Icons: Prices */
    .fa-star {
        color: #fac053;
        text-align: left;
    }

    .fa-arrow-up {
        color: rgba(220, 20, 60, 1);
        text-align: left;
    }


    .fa-arrow-down {
        color: rgba(34, 139, 34, 1);
        text-align: left;
    }

    /* Back Button */
    .back-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #282c55;
        color: #e7ce8f;
        border: 2px solid #18072c;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'LTInstitute';
        transition: background-color 0.3s ease
    }

    .back-btn:hover {
        background-color: #e7ce8f;
        color: #282c55;
        border: 2px solid #282c55;
    }

    /* Tooltip Text: Price Type */
    /* Tooltip Container */
    .priceTypeTooltip {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    /* Tooltip Text */
    .priceTypeTooltip .priceTypeTooltipText {
        visibility: hidden;
        width: 110px;
        background-color: #282c55;
        color: #e7ce8f;
        text-align: center;
        /* border: 2px solid #e7ce8f; */
        border-radius: 5px;
        padding: 5px 0px;
        font-size: 14px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 110%; /* Place above the element */
        left: 50%;
        margin-left: -20%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Show the tooltip when hovering */
    .priceTypeTooltip:hover .priceTypeTooltipText {
        visibility: visible;
        opacity: 1;
    }

    /* Dark Mode */
    body.dark-mode #widget-commodity-header, body.dark-mode #widget-commodity-graph, body.dark-mode #widget-commodity-types {
        color: #dae7ed;
        background-color: #203555;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    body.dark-mode #specific-commodity-date-rectangle {     
        color: #203555;
    }

    body.dark-mode #specific-commodity-prices-rectangle {    
        color: #203555;
    }

    body.dark-mode .priceTypeTooltip .priceTypeTooltipText {
        background-color: #dae7ed;
        color: #282c55;
        /* border: 2px solid #282c55; */
    }
}