body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color:white;
    font-family: Garamond, sans-serif;
    
}

header {
    background-color: #333;
    color: #e7ce8f;
    padding: 3px;
    text-align: left;
}

nav {
    background-color: gray;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

footer {
    background-color: #0d1118;
    color: white;
    text-align: center;
    padding: 10px;
}

.search-bar {
    
    display: flex;
    align-items: right;
    width:20 px;
    height:30 px;
    float: right;
    bottom: 50 px;
    left:20 px;
    color:white;
    
    
  }
  
  #search-input {
    color:white;
    background-color:#516689;
    padding: 10px;
    border: 1px;
    border-color:#516689;
    border-radius: 15px;
    flex-grow: 1;
    float: right;
   
    
  }
  #search-input::placeholder {
    color: white;
  }

 
  .price-list {
    color:white;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .price-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .price-list li.active {
    background-color: #516689;
    font-weight: bold;
    
  }

  .price-list li.active .details {
    display: block;
  }

  .details {
    display: none;
    padding: 10px;
    margin-left: 20px;
  }

  .details li {
    padding-left: 10px;
  }